.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-item {
    width: 40px;
    height: 40px;
border-radius: 50%;
background-color: #407BFF;
;

}


